fa-etender-notifications (2).zip
fa-etender-notifications..zip
.vs/
*.dll
NTEmailNotification/Properties/
TestLogging/
NTEmailNotification/fa-etender-notifications (4).zip
NTEmailNotification/uat.settings.json
NTEmailNotification/appsettings.Development.json
NTEmailNotification/appsettings.DIDevelopment.json
NTEmailNotification/appsettings.json
NTEmailNotification/appsettings.UAT.json
